@page "/"
@using DataJuggler.BlazorAudio
@inject IJSRuntime JSRuntime

<h1>Blazor Audio Demo!!</h1>

<button @onclick="GetCurrentTime">Get Current Time</button>
<p id="displayTime">@DisplayTime</p>

<BlazorAudioPlayer Parent=this AllowDownloads="false" AudioUrl="">
</BlazorAudioPlayer>




